/*declaracion de viarable*/
$naranja: #fcb62b;

@import 'tab.scss';

.navbar {
	background:#111;
}
.navbar-default .navbar-nav>.active>a {
	background-color: #CAC562;
}
/* Wrapper */
.icon-button {
	background-color: #ccc;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}
.articulo {
	margin-bottom: 50px;
	img {
		width: 100%;
		height: auto;
	}
	h3{
		font-size: 20px;
	}
	p {
		text-align: justify;
	}
	a {
	    border: 2px solid blue;
	    width: 100%;
	    display: inline-block;
	    text-align: center;
	    color: blue;
	    padding: 8px 0;
	    border-radius: 5px;		
	}
}
.parallax {
	height: 400px;
	background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
    h2 {
		text-align: center;
		font-size: 34px;
		padding-top: 200px;
		color: #ccc;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
    }
    &:before{
    	content:'';
    	display: inline-block;
    	background: #000;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	opacity: 0.4;
    }
}
